/* FONT */
/* font-family: 'Yanone Kaffeesatz', sans-serif; */
body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background-color: #B4E4E6;
  color:  #453D3D;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px
 
  
}

button {
  background-color:  #B32274;
  border-radius: 5px;
  color: white;
  border: none;
  outline: none;
  padding: 7.5px 30px
}

h1,h2{
  font-weight: normal;
}

h1{
  font-size: 50px;
}

.all-instructions {
  display: flex;
  justify-content: space-around;
  padding: 20px
}

.instruction {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* COLORS */
/* background color -> #B4E4E6 */
/* text color -> #453D3D */
/* button color -> #B32274 */
/* button text color -> white */
